#main-photo {
    float:left;
    width: 500px;
    height: 350px;
}

.banner {
    background-color: rgb(187, 56, 78);
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(12, 1fr);
}

#banner-right {
    grid-column: 2/12; /*starts from cell 2 and ends at cell 12*/
    justify-self: center; /*center the item horizontally within the grid cell*/
    align-self: center; /*center the item vertically within the grid cell*/
}

.oswald-title {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 100px;
}

.oswald-header {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 20px;
}

.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.card {
    background: black;
    color: rgb(187, 56, 78);
    height: 80px;
    flex: 1;
  }

.first {
    flex: 1.5;
}

.second {
    flex: 0.5;
}

.flex-container {
    display: flex;
    gap: 0.25rem;
    padding-bottom: 10px;
  }

.image-column {
    display:inline-flex;
    flex-direction: column;
    gap: 50px;
    flex-wrap: wrap;
    float: left;
    padding-right: 50px;
}

.pic-size {
    width: 250px;
    height: 250px;
}
.left {
    width: 25%;
}
  
.right {
    width: 75%;
}